{
    "client_id": -1,     // -1 if has not got
    "command_type": 0 ,
    "command_create":    // create pipe
    {
         "pipe_num": 2,          // how many pipes to be created
         "stream_source": "/home/lijunjie/1600x1200.mp4",
         "codec_type": "H.264",     //H.264 or H.265
         "cvdlfilter0":
        {
             "algo_pipeline": "detection ! track ! classification"
        }
    }
 }
